{
  "supported-targets": ["js"],
  "is-main": true,
  "import": [
    {
      "path": "mizchi/luna/core",
      "alias": "luna"
    },
    {
      "path": "mizchi/luna/core/signal",
      "alias": "signal"
    },
    {
      "path": "mizchi/luna/sol",
      "alias": "sol"
    },
    { "path": "mizchi/js/core", "alias": "core" },
    {
      "path": "{{PACKAGE_NAME}}/client/components",
      "alias": "counter"
    }
  ]
}
